body{
    background-color: #ebeff5;
}


#total-meds{
    background-color: #CF8B8B;
}


#total-side-effects{
    background-color: #BD5F5F;
}

#total-symptomlogs{
    background-color: #AA3939;
}

#total-medlogs{
    background-color: #971919 ;
}

.add-buttons{
    background-color: #850000;
}
