{% extends 'users/main.html' %}

{% block content %}

<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Medications </h5>
					<a class="btn btn-primary  btn-sm btn-block" href="{%url 'create_medication'%}">Add Medications</a>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Medication</th>
							<th>Treatment For</th>
							<th>Side Effects</th>
							<th>Dosage</th>
							<th>Morning</th>
							<th>Midday</th>
							<th>Evening</th>
							<th>Bedtime</th>
							<th>Update</th>
							<th>Remove</th>
						</tr>

						{% for i in customer_medications%}
						<tr>
							<td>{{i.medication.name}}</td>
							<td>{{i.treatment_for}}</td>
							<td>{{i.medication.side_effects_list}}</td>
							<td>{{i.dosage}}</td>
							{% if i.morning %}
								<td>✓</td>
							{% else %}
								<td></td>
							{% endif %}
							{% if i.midday %}
								<td>✓</td>
							{% else %}
								<td></td>
							{% endif %}
							{% if i.evening %}
								<td>✓</td>
							{% else %}
								<td></td>
							{% endif %}
							{% if i.bedtime %}
								<td>✓</td>
							{% else %}
								<td></td>
							{% endif %}
							<td><a class = "btn btn-sm btn-info" href="{% url 'update_medication' i.id%}">Update</a></td>
							<td><a class = "btn btn-sm btn-danger" href="{% url 'delete_medication' i.id%}">Remove</a></td>
						</tr>
						{% endfor%}
					</table>
				</div>
			</div>

		</div>

{% endblock %}
