<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-meds">
			  	<div class="card-header">
			  		<h7 class="card-title">Total Medications</h7>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{medications_count}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-side-effects">
			  	<div class="card-header">
			  		<h7 class="card-title">Symptoms Being Tracked</h7>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{side_effects_count}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-symptomlogs">
			  	<div class="card-header">
			  		<h7 class="card-title">Total Symptom Logs</h7>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{symptomlogs_count}}</h3>
			  	</div>
			</div>
		</div>
	</div>
    <div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-medlogs">
			  	<div class="card-header">
			  		<h7 class="card-title">Total Medication Logs</h7>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{medlogs_count}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
