{% extends 'users/main.html' %}

{% block content %}

<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Symptom Logs</h5>
					<a class="btn btn-primary  btn-sm btn-block" href="{%url 'create_symptomlog'%}">Add Log</a>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Date</th>
							<th>Side Effect</th>
							<th>Severity</th>
                            <th>Duration (Hrs)</th>
							<th>Update</th>
							<th>Remove</th>
						</tr>
						{% for i in logs%}
						<tr>
							<td>{{i.date_created}}</td>
							<td>{{i.side_effect}}</td>
							<td>{{i.severity}}</td>
							<td>{{i.duration_in_hours}}</td>
							<td><a class = "btn btn-sm btn-info" href="{% url 'update_symptomlog' i.id %}">Update</a></td>
							<td><a class = "btn btn-sm btn-danger" href="{% url 'delete_symptomlog' i.id %}">Remove</a></td>
						</tr>
						{% endfor%}
					</table>
				</div>
			</div>

		</div>

{% endblock %}
